spring:
  application:
    name: HelpDeskMCPServer
  main:
    web-application-type: none
    banner-mode: off
    log-startup-info: false
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      embedding:
        options:
          model: text-embedding-3-small
    vectorstore:
      pgvector:
        table-name: policy_chunks
        dimensions: 1536
        initialize-schema: true
        remove-existing-vector-store-table: false
  datasource:
    url: jdbc:postgresql://localhost:5432/insurance_ai
    username: nites
    password: ""
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
